@import "../colorschemes/current/waybar.css";

* {
  font-family:
    CommitMono Nerd Font Propo,
    sans-serif;
  font-size: 13px;
  font-weight: bold;
}

window#waybar {
  background-color: alpha(@background, 0.9);
  /* background-color: transparent; */
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
  /* border-radius: 12px; */
  /* border: 2px dotted @borders; */
}

#workspaces {
  background-color: transparent;
  /* border: 3px solid @borders; */
  /* border-radius: 12px; */
  /* margin: 0 5px; */
}

#workspaces button {
  padding: 0 5px;
  color: @text;
  border: none;
}

#workspaces > button:first-child {
  padding-left: 5px;
}

#workspaces > button:first-child:hover {
  background-color: @hovered;
  /* border-radius: 11px 0 0 11px; */
}

#workspaces > button:last-child {
  padding-right: 5px;
}

#workspaces > button:last-child:hover {
  background-color: @hovered;
  /* border-radius: 0 11px 11px 0; */
}

#workspaces button:hover {
  background-color: @hovered;
  border-radius: 0;
}

#workspaces button.focused {
  /* background-color: @highlightLow; */
  /* color: @highlightLow; */
}

#workspaces button.urgent {
  /* background-color: @danger; */
}

#custom-applauncher,
#custom-wlsunset,
#clock,
#bluetooth,
#network,
#pulseaudio,
#idle_inhibitor,
#keyboard-state,
#language,
#window,
#mpris,
#user,
#autohide_tray,
#perf,
#control-menu,
#power-menu {
  padding: 0 10px;
  /* background-color: alpha(@background, 0.9); */
  background-color: transparent;
  color: @text;
  /* margin: 0 2px; */
  /* border-radius: 12px; */
  /* border-left: 1px solid @borders; */
}

#autohide_tray,
#perf,
#power-menu {
  padding: 0;
}

#perf > widget:first-child > label:hover,
#power-menu widget:first-child > label:hover {
  /* border-top-left-radius: 10px; */
  /* border-bottom-left-radius: 10px; */
}

#perf widget:last-child > label:hover,
#power-menu > widget:last-child > label:hover {
  /* border-top-right-radius: 10px; */
  /* border-bottom-right-radius: 10px; */
}

#autohide_tray label,
#perf label,
#power-menu label {
  padding: 0 10px;
}

#perf label:hover,
#power-menu label:hover {
  background-color: @hovered;
}

#custom-poweroff {
  color: @danger;
}

/* @keyframes blink { */
/*   to { */
/*     background-color: #ffffff; */
/*     color: #000000; */
/*   } */
/* } */

#network.disconnected {
  background-color: @warning;
}

#pulseaudio.muted {
  color: @warning;
}

#tray {
  /* background-color: @theme_bg_color; */
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @warning;
}

#idle_inhibitor.activated {
  color: @danger;
}
