[Unit]
Description=Hyprland's idle daemon, using niri config
Documentation=https://wiki.hyprland.org/Hypr-Ecosystem/hypridle
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/hypridle -c "%h/.config/niri/niri-hypridle.conf"
Restart=on-failure
